<div class="content">
  <div class="selectOption1">
    <label>Tipo de sangre</label>
    <select
      [(ngModel)]="params.bloodType"
      [disabled]="isBloodTypeDisabled()"
      matTooltip="Elije el tipo de sangre"
    >
      <option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
        {{ bloodType }}
      </option>
    </select>
  </div>

  <div class="selectOption2">
    <label>Ubicación</label>
    <select [(ngModel)]="params.locality" matTooltip="Elije una ubicación">
      <option *ngFor="let locality of localities" [value]="locality">
        {{ locality }}
      </option>
    </select>
  </div>

  <div class="selectOption1">
    <label>Compatible con</label>
    <select
      [(ngModel)]="params.compatibility"
      [disabled]="isCompatibilityDisabled()"
      matTooltip="Elije el tipo de sangre"
    >
      <option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
        {{ bloodType }}
      </option>
    </select>
  </div>

  <button matTooltip="Inicia la búsqueda" (click)="initSearch()">Buscar</button>
</div>
