<div class="row">
  <div class="container">
    <div class="publication">
      <div class="header">
        <h2>Mi primera donación</h2>
      </div>
      <div class="image-display">
        <img src="/assets/ejemplo-donacion.jpg" alt="Imagen de donación">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="publication">
      <div class="header">
        <h2>Mi segunda donación</h2>
      </div>
      <div class="image-display">
        <img src="/assets/ejemplo-donacion.jpg" alt="Imagen de donación">
      </div>
    </div>
  </div>
</div>
