body{
  margin: 0;
  padding: 0;
}


.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.container {
  margin: 0 auto;
  margin-top: 0;
  width: 500px;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.527);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #d9534f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.header h2 {
  margin: 0;
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.publication {
  text-align: center;
}

.image-display {
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.image-display img {
  margin-top: 3vh;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: #5bc0de;
  color: white;
}

.delete {
  background-color: #d9534f;
  color: white;
}
