<div class="container">
  <form (submit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" placeholder="Mi primera donación" required />
    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea id="description" [(ngModel)]="description" name="description" placeholder="Mi primera donación" required></textarea>
    </div>

    <div class="form-group image-upload">
      <label for="image" class="image-label">
        <div class="upload-icon">
          <img src="/assets/Upload icon.svg" alt="">
        </div>
        <p>Sube tu imagen</p>
        <small>Soporta formatos: JPEG, PNG</small>
      </label>
      <input type="file" id="image" (change)="onFileSelected($event)" accept="image/jpeg, image/png" />
    </div>

    <div *ngIf="imagePreview" class="image-preview">
      <p>Vista previa de la imagen:</p>
      <img [src]="imagePreview" alt="" class="preview-image" />
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="deadline">Fecha límite:</label>
        <input type="date" id="deadline" [(ngModel)]="date_limit" name="date_limit" required />
      </div>

      <div class="form-group">
        <label for="blood-type">Tipo de sangre:</label>
        <select id="blood-type" [(ngModel)]="blood_type" name="blood_type" required>
          <option *ngFor="let type of ['O+', 'O-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-']">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="donors-required">Donantes req:</label>
        <input type="number" id="donors-required" [(ngModel)]="donors_number" name="donors_number" />
      </div>
    </div>

    <div class="button-group">
      <button type="button" class="btn cancel" (click)="router.navigate(['/publications'])">Cancelar</button>
      <button type="submit" class="btn publish">Publicar</button>
    </div>
  </form>
</div>
