
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  margin-left: 60vh;
  margin-top: 5vh;
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.527);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  cursor: pointer;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group textarea {
  resize: none;
  height: 60px;
}

.image-upload {
  text-align: center;
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #483EA8;
  cursor: pointer;
  position: relative;
}

.image-upload input[type="file"] {
  display: none;
}

.image-label {
  color: #666;
}

.upload-icon {
  font-size: 30px;
  color: #777;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row .form-group {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: #d9534f;
  color: white;
}

.publish {
  background-color: #d9534f;
  color: white;
}
