<div class="publications-list">
  <h2>Publicaciones</h2>

  <div *ngIf="publications.length === 0" class="no-publications">
    <p>No hay publicaciones disponibles.</p>
  </div>

  <div *ngFor="let publication of publications" class="publication-card">
    <div class="profile-header">
      <img src="ruta-de-tu-imagen.jpg" alt="Foto de perfil" class="profile-image">
      <span class="profile-name">Jesus Madero Ruíz</span>
    </div>
    <div class="publication-content">
      <h3>{{ publication.title }}</h3>
      <p class="description">{{ publication.description }}</p>

      <div class="image-display">
        <!-- Usamos el método createImageFromBlob pasando el atributo "image" -->
        <img *ngIf="createImageFromBlob(publication.image)" [src]="createImageFromBlob(publication.image)" alt="Imagen de publicación">
      </div>

      <div class="details">
        <p><strong>Fecha límite:</strong> {{ publication.date_limit | date }}</p>
        <p><strong>Tipo de sangre:</strong> {{ publication.blood_type }}</p>
        <p><strong>Donantes requeridos:</strong> {{ publication.donors_number }}</p>
      </div>

      <div class="comment-section">
        <form >
          <div class="form-group">
            <input
              type="text"
              name="comment"
              placeholder="Escribe tu comentario..."
              required
              class="comment-input">
            <button type="submit" class="btn submit-comment"><img src="/assets/paper-airplane.svg" alt=""></button>
          </div>
        </form>
      </div>

      <!-- Lista de comentarios -->
      <div class="comments-list">
        <div *ngFor="let comment of publication.comments" class="comment">
          <p></p>
          <span class="timestamp"></span>
        </div>
      </div>
    </div>
  </div>
</div>
