<div class="publications-list">
  <h2>Publicaciones</h2>

  <div *ngIf="publications.length === 0" class="no-publications">
    <p>No hay publicaciones disponibles.</p>
  </div>

  <div *ngFor="let publication of publications" class="publication-card">
    
    <div class="profile-header">
      <!-- Mostrar mini perfil asociado a la publicación -->
      <div *ngIf="miniProfileView.length > 0">
        <div *ngFor="let profile of miniProfileView">
          <div *ngIf="profile.publicationId === publication._id">
            <img *ngIf="profile.photo" [src]="photoUrls[profile.photo]" alt="Foto de perfil" class="profile-image">
            <span class="profile-name">
              {{ profile.name }}
            </span>
          </div>
        </div>
      </div>
    </div>  
    
    
    <div class="publication-content">
      <h3>{{ publication.title }}</h3>
      <p class="description">{{ publication.description }}</p>

      <div class="image-display">
        <img *ngIf="publication.image" [src]="publication.image" alt="Imagen de publicación">
      </div>


      <div class="details">
        <p><strong>Fecha límite:</strong> {{ publication.date_limit | date }}</p>
        <p><strong>Tipo de sangre:</strong> {{ publication.blood_type }}</p>
        <p><strong>Donantes requeridos:</strong> {{ publication.donors_number }}</p>
      </div>

      <div class="comments-section">
        <h3>Comentarios</h3>
        <div class="comments-list">
          <div class="comment" *ngFor="let comment of publication.comments">
            <p class="comment-text"></p>
            <span class="timestamp"></span>
          </div>
        </div>
      </div>

      <div class="comment-section">
        <form (ngSubmit)="addComment(publication._id!, commentContent!)" #commentForm="ngForm">
          <div class="form-group">
            <input
              type="text"
              name="comment"
              placeholder="Escribe tu comentario..."
              required
              class="comment-input"
              [(ngModel)]="commentContent"> <!-- Enlace bidireccional -->
            <button type="submit" class="btn submit-comment">
              <img src="/assets/paper-airplane.svg" alt="">
            </button>
          </div>
        </form>
      </div>
      
      <div class="comments-list">
        <div *ngFor="let comment of publication.comments" class="comment">
          <p>{{ comment }}</p> <!-- Muestra el contenido del comentario -->
        </div>
      </div>
      
      
    </div>
  </div>
</div>
