.content-login {
  display: flex;
  width: 100%;
  background: #8fafa9;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.form-content {
  width: 40%;
  background-color: #fff;
  padding: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-form > img {
  width: 250px;
}

.header-form > p {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

.header-form {
  width: 300px;
}

.header-form > p {
  color: #636364;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 75%;
  text-align: start;
}

label {
  margin-left: 3%;
  font-weight: 500;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 97%;
  padding: 12px 0 12px 12px;
  border-radius: 12px;
  border: none;
  border: 1px #00000048 solid;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: #636364;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

form > button {
  width: 75%;
  margin-top: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #ea454c;
  padding: 10px 0 10px 0px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
}

form > button:hover {
  cursor: pointer;
  transform: scale(0.97);
  transition: 0.4s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

form > button:active {
  transition: 0.4s;
  background: #b43239;
}

.image {
  width: 60%;
  height: 100vh;
  overflow: hidden;
}

.image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  color: #0015ff;
}

.options > button {
  background: #0015ff;
  color: #fff;
  border: none;
  width: 110px;
  padding: 10px 0 10px 0px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.options > button:hover {
  cursor: pointer;
  transform: scale(0.97);
  transition: 0.4s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

.options > button:active {
  transition: 0.4s;
  background: #0112c7;
}
