<nav class="navbar">
  <div class="elements-left">
    <img class="logo" src="assets/logo-chico.png" alt="" />
    <ul class="menu">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Publicaciones</a></li>
    </ul>
  </div>
  <div class="elements-right">
    <a href="#"><img src="assets/search-icon.png" alt="Buscar" class="icon-img1" /></a>
    <a href="#"><img src="assets/library-icon.png" alt="Publicaciones" class="icon-img2" /></a>
    <a href="#"><img src="assets/location-icon.png" alt="Mapa" class="icon-img3" /></a>
    <a href="#"><img src="assets/chats-icon.png" alt="Chat" class="icon-img4" /></a>
    <a href="#"><img src="assets/user-icon.png" alt="Perfil" class="icon-img5" /></a>
    <a href="#"><img src="assets/logout-icon.png" alt="Salir" class="icon-img6" /></a>
  </div>
</nav>
