.content {
  padding: 1% 5% 4% 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
  gap: 10px;
}

.msg > img {
  height: 20px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  font-size: 20px;
}

.chat-box {
  border: 1.2px #9c9c9c solid;
  border-radius: 11px;
  width: 100%;
  height: 65vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-height: 900px;
}

.title {
  border-radius: 11px 11px 0 0;
  font-weight: 700;
  font-size: 18px;
  background: #ea454c;
  color: #fff;
  height: 10%;
}

.title > p {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 5%;
  align-items: center;
}

.c-box-messages {
  width: 100%;
  height: 90%;
  display: flex;
}

.conversations {
  width: 40%;
  height: 100%;
  border-right: 1px #9c9c9c solid;
  overflow: hidden;
  overflow-y: auto;
}

.conversation {
  padding: 15px;
  /* background: #ffc4c6;*/
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 15%;
}

p {
  margin: 0;
}

.conversation:hover {
  background-color: #f1f1f1;
}

.conversation > img {
  width: 50px;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; /* Color del pulgar al pasar el cursor */
}

.box-messages {
  border-radius: 0 0 11px 0;
  width: 60%;
  background: #fff2f3;
}

.messages {
  width: 100%;
  height: 85%;
}

.sendMessage {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  width: 75%;
  padding: 5px 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  border-radius: 5px;
  border: 1px #8b8b8b solid;
}

input:focus {
  outline: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border: none;
}

button {
  background: none;
  border: none;
  margin-left: 20px;
}

button > svg {
  width: 35px;
  height: 35px;
}

button > svg:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
}

.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.received {
  align-self: flex-start; /* Alinea a la izquierda */
  width: auto;
  max-width: 70%; /* Limita el ancho máximo del mensaje */
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.msg-received {
  padding: 10px 15px;
  background: #ea454c;
  color: #fff;
  border-radius: 10px 10px 10px 0;
  line-height: 1.4;
  font-size: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Estilo para mensajes enviados */
.sender {
  align-self: flex-end; /* Alinea a la derecha */
  width: auto;
  max-width: 70%; /* Limita el ancho máximo del mensaje */
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.msg-sender {
  padding: 10px 15px;
  background: #4182f9;
  color: #fff;
  border-radius: 10px 10px 0 10px;
  line-height: 1.4;
  font-size: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Estilo para la hora */
small {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  align-self: flex-end;
}

ul {
  margin: 0;
  padding: 0;
}
