<div class="principal-container">
  <div class="header-container">
    <h1>Educación</h1>
  </div>

  <div class="container-cards">
    <div class="container-1">
      <div class="card">
        <div class="card-content">
          <img src="assets/perforacion.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">No puedo donar sangre si tengo un piercing</h3>
            <p class="card-description">Falso, puedes donar 12 meses después de haberte hecho el último piercing, siempre que no haya infecciones.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/prueba-de-sangre.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Tengo anemia y nunca podré donar sangre</h3>
            <p class="card-description">Falso, si tu anemia es leve y logras estabilizar tus niveles de hemoglobina, puedes ser apto para donar sangre en el futuro.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="card">
        <div class="card-content">
          <img src="assets/debil.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Donar sangre puede debilitarme</h3>
            <p class="card-description">Falso, el cuerpo repone el volumen de sangre donado en 24 a 48 horas. Además, la donación no afecta tu salud si cumples con los requisitos.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/image5.svg" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Buscar donantes</h3>
            <p class="card-description">Puedes hacer uso de nuestro buscador para encontrar al indicado.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
