<div class="principal-container">
  <div class="header-container">
    <h1>Educación</h1>
  </div>

  <div class="container-cards">
    <div class="container-1">
      <div class="card">
        <div class="card-content">
          <img src="assets/perforacion.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">No puedo donar sangre si tengo un piercing</h3>
            <p class="card-description">Falso, puedes donar 12 meses después de haberte hecho el último piercing, siempre que no haya infecciones.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/prueba-de-sangre.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Tengo anemia y nunca podré donar sangre</h3>
            <p class="card-description">Falso, si tu anemia es leve y logras estabilizar tus niveles de hemoglobina, puedes ser apto para donar sangre en el futuro.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="card">
        <div class="card-content">
          <img src="assets/debil.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Donar sangre puede debilitarme</h3>
            <p class="card-description">Falso, el cuerpo repone el volumen de sangre donado en 24 a 48 horas. Además, la donación no afecta tu salud si cumples con los requisitos.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/tatuaje.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Si tengo tatuajes, no puedo donar para donar</h3>
            <p class="card-description">Falso, los tatuajes no son impedimento para donar sangre, siempre que hayan pasado 12 meses desde el último y se haya realizado en un lugar certificado.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="card">
        <div class="card-content">
          <img src="assets/comida-en-ayunas.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Solo puedo donar sangre si estoy en ayunas</h3>
            <p class="card-description">Falso, es recomendable haber consumido alimentos ligeros antes de donar sangre para evitar mareos o malestares.

            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/bolsa-de-sangre.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Necesito tener sangre "perfecta" para donar</h3>
            <p class="card-description">Falso, se realizan estudios a la sangre donada para asegurarse de su calidad. Mientras cumplas con los requisitos, puedes donar.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="card">
        <div class="card-content">
          <img src="assets/hipertension.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">No puedo donar si tengo la presión alta</h3>
            <p class="card-description">Falso, si tu presión arterial está controlada y dentro de los valores permitidos el día de la donación, puedes donar sin problema.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/causa-de-la-infeccion.png" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Mi sangre no sirve si tuve COVID-19</h3>
            <p class="card-description">Falso, después de 14 días sin síntomas y si estás completamente recuperado, puedes donar sangre de manera segura.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="card">
        <div class="card-content">
          <img src="assets/mujeres.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Las mujeres no pueden donar tan seguido como los hombres</h3>
            <p class="card-description">Verdadero, las mujeres pueden donar cada 4 meses debido a los ciclos menstruales, mientras que los hombres pueden hacerlo cada 3 meses.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/dolor.png" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Donar sangre es doloroso</h3>
            <p class="card-description">Falso, el proceso de donación solo genera una leve molestia al insertar la aguja, similar a un pinchazo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br> <br>
</div>

