.principal-content {
  background-image: url("../../../../public/assets/background-info.png");
  min-height: 80vh;
  background-repeat: no-repeat;
}

.principal-title {
  position: relative;
  padding-top: 50px;
}

.principal-title h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1vh;
  margin-left: 20vh;
  font-size: 50px;
  font-weight: 500;
}

.white-line {
  border: none;
  border-top: 4px solid white;
  margin-left: -1vh;
  width: 71%;
}

.container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11vh;
}

.container-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11vh;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 183px;
  width: 370px;
  margin-top: 4vh;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 2.0s ease;
}

.card:hover {
  transform: scale(1.05);
  color: #000000;
  text-shadow: 5px 5px 5px #a61414;
  transition: text-shadow 0.5s ease, color 0.1s ease;
  outline: 5px solid #a61414;
}

.card-content{
  display: flex;
  width: 100%;
}

.card-image{
  margin-left: 2vh;
  margin-top: 5vh;
}

.card-text{
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 2vh;
  font-family: "Poppins", sans-serif;
}

.card-description {
  font-size: 20px;
  margin-right: 5vh;
  font-family: "League Spartan", sans-serif;
  text-align: justify;
  color: #000000;
}


.card-content2{
  display: flex;
  width: 100%;
}

.card-image2{
  margin-left: 2vh;
  margin-top: 3vh;
}

.card-text2{
  display: flex;
  flex-direction: column;
}

.card-title2 {
  font-size: 27px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 2vh;
  font-family: "Poppins", sans-serif;
}

.card-description2 {
  font-size: 20px;
  margin-right: 5vh;
  font-family: "League Spartan", sans-serif;
  text-align: justify;
  color: #000000;
}
