<div class="principal-content">
  <div class="principal-title">
    <h2>En nuestra plataforma podrás: </h2>
    <hr class="white-line">
  </div>
  <div class="container-cards">
    <div class="container-1">
      <div class="card">
        <div class="card-content">
          <img src="assets/image.svg" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Ser donador</h3>
            <p class="card-description">Crea un cuenta para ayudar a la gente que lo necesita.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content2">
          <img src="assets/image2.svg" alt="" class="card-image2">
          <div class="card-text">
            <h3 class="card-title2">Ubicar bancos de sangre</h3>
            <p class="card-description2">Echa un vistazo a los lugares donde puedes encontrar sangre.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/image3.svg" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Crear publicación</h3>
            <p class="card-description">Tienes la posibilidad de crear una publicación pidiendo ayuda. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-2">
      <div class="card">
        <div class="card-content2">
          <img src="assets/image4.svg" alt="" class="card-image2">
          <div class="card-text">
            <h3 class="card-title2">Tener una conversación</h3>
            <p class="card-description2">Haz uso de nuestro chat para comunicarte con un donador.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/image5.svg" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Buscar donantes</h3>
            <p class="card-description">Puedes hacer uso de nuestro buscador para encontrar al indicado.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="assets/image6.svg" alt="" class="card-image">
          <div class="card-text">
            <h3 class="card-title">Infórmate</h3>
            <p class="card-description">Tenemos un apartado de educación que promueve este movimiento.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
