.principal-content {
  background-image: url("../../../../public/assets/background-info.png");
  min-height: 100vh;
  background-repeat: no-repeat;
}

.principal-title {
  position: relative;
  padding-top: 50px;
}

.principal-title h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1vh;
  margin-left: 20vh;
  font-size: 50px;
  font-weight: 500;
}

.white-line {
  border: none;
  border-top: 4px solid white;
  margin-left: -1vh;
  width: 71%;
}

.container-cards {

}

.container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11vh;
}

.container-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 11vh;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 183px;
  width: 370px;
  margin-top: 4vh;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
