<div class="principal-content">
  <div class="principal-title">
    <h2>En nuestra plataforma podrás: </h2>
    <hr class="white-line">
  </div>
  <div class="container-cards">
    <div class="container-1">
      <div class="card">
        
      </div>
      <div class="card">

      </div>
      <div class="card">

      </div>
    </div>

    <div class="container-2">
      <div class="card">

      </div>
      <div class="card">

      </div>
      <div class="card">

      </div>
    </div>

  </div>

</div>
