<div class="content-register">
  <div class="form-content">
    <div class="header-form">
      <img src="logo.png" alt="logo" class="hidden" />
      <h1>¡REGÍSTRATE!</h1>
      <p>Crea tu cuenta con nosotros!!</p>
    </div>

    <div class="options">
      <button
        type="button"
        [ngClass]="flag ? 'donatario' : 'donante'"
        (click)="toggleDonorDonee($event)">
        {{ flag ? "Registrar como donador" : "Registrar como donatario" }}
      </button>
    </div> <br>

    <!-- Formulario de registro -->
    <form (ngSubmit)="signUp()">
      <div class="input-group-name">
        <div class="input">
          <label for="first_name">Nombre</label>
          <input
            type="text"
            name="first_name"
            placeholder="Ingresa tu nombre"
            [(ngModel)]="userData.first_name"
            required
            pattern="[A-Za-z]+"
            title="El nombre solo puede contener letras"
          />
        </div>

        <div class="input">
          <label for="last_name">Apellido</label>
          <input
            type="text"
            name="last_name"
            placeholder="Ingresa tu apellido"
            [(ngModel)]="userData.last_name"
            required
            pattern="[A-Za-z]+"
            title="El apellido solo puede contener letras"
          />
        </div>
      </div>

      <div class="input">
        <label for="phone_number">Número de Teléfono</label> <br />
        <input
          maxlength="10"
          type="text"
          name="phone_number"
          placeholder="Ingresa tu número de teléfono"
          [(ngModel)]="userData.phone_number"
          pattern="\d{10}"
          title="El número debe tener exactamente 10 dígitos numéricos."
          required
        />
        <br />
      </div>

      <div class="input" *ngIf="!flag">
        <label for="bloodType">Tipo de Sangre</label> <br />
        <select name="bloodType" [(ngModel)]="userData.blood_type" required>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>

      <div class="input">
        <label for="email">Correo</label> <br />
        <input
          type="email"
          name="email"
          placeholder="Ingresa tu correo"
          [(ngModel)]="userData.email"
          pattern="[a-zA-Z0-9._%+-]+@(gmail\.com|hotmail\.com|outlook\.com|gmail\.es|hotmail\.es|outlook\.es)"
          title="Ingresa un correo valido"
          required
        />
        <br />
      </div>

      <div class="input">
        <label for="password">Contraseña</label> <br />
        <input
          type="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="userData.password"
          required
          minlength="9"
          title="La contraseña debe tener al menos 9 caracteres"
        />
        <br />
      </div>

      <button type="submit">Registrarme</button>
    </form>

    <div class="options">
      <br />
      <p>¿Ya tienes cuenta?</p>
      <p class="link" routerLink="/signIn">Inicia sesión</p>
    </div>
  </div>

  <div class="image">
    <img src="Imagelogin.png" alt="imagen" />
  </div>
</div>
