.content {
  padding: 0 3%;
  width: 94%;
  padding-bottom: 4%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

th {
  background: #ea454c;
  color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-left: 15px;
}

td > button {
  background: none;
  border: none;
}

svg:hover {
  transform: scale(1.1);
  transition: 0.4s;
  cursor: pointer;
}

