.principal-container h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-left: 13vh;
  margin-top: 7vh;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #d9534f;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  margin-left: 60vh;
  margin-top: 5vh;
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.527);
}

.publication {
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.image-display {
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.image-display img {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
}

.details p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: #5bc0de;
  color: white;
}

.delete {
  background-color: #d9534f;
  color: white;
}
