<div class="principal-container">
  <h1>Mis publicaciones</h1>
  <div class="container">
    <div class="publication">
      <div class="profile-header">
      <img src="" alt="Foto de perfil" class="profile-image">
      <span class="profile-name">Jesus Madero Ruíz</span>
    </div>
      <h2>Mi primera donación</h2>
      <div class="image-display">
        <img src="/assets/ejemplo-donacion.jpg" alt="Imagen de donación">
      </div>

      <div class="button-group">
        <button type="button" class="btn edit">Editar</button>
        <button type="button" class="btn delete">Eliminar</button>
      </div>
    </div>
    
  </div>
</div>
