.content {
  width: 90%;
  background: #f3f4f6;
  height: 100vh;
  padding: 0 5% 5% 5%;
}

.msg {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1%;
  margin-left: 5%;
}

.msg > img {
  height: 20px;
}

.map {
  margin-bottom: 2%;
}

.info {
  margin-bottom: 5%;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  font-size: 25px;
}
