<div class="info-title">
  <h2>Información de la cuenta</h2>
</div>
<div class="form-account-info">
  <div class="content-account-left">
    <div class="input">
      <label for="">Última donación:</label> <br />
      <input type="text" placeholder="Aquí va la donación" /> <br />
    </div>
    <div class="input">
      <label for="">Número de donaciones:</label> <br />
      <input type="text" placeholder="Aquí van los apellidos" /> <br />
    </div>
    <div class="profile-buttons">
      <button class="edit-profile-button">Editar</button>
      <button class="delete-profile-button" >
        Borrar cuenta
      </button>
    </div>
  </div>
  <div class="content-account-rigth">
    <div class="input">
      <label for="">Tipo de sangre:</label> <br />
      <select name="" id="">
        <option value="">Bueno</option>
      </select>
    </div>
    <div class="input">
      <label for="">Estado de salud:</label> <br />
      <select name="" id="">
        <option value="">Bueno</option>
      </select>
    </div>
    <div class="input">
      <label for="">Tipo de salud:</label> <br />
      <select name="" id="">
        <option value="">Bueno</option>
      </select>
    </div>
    </div>
  </div>
