<div class="principal-container">
  <div class="left-content">
    <img src="assets/logoHeader.png" alt="">
    <p>El movimiento <strong> Unidos Por La Sangre</strong> busca ser el Puente entre <strong>donatarios </strong>(personas que buscan donadores de sangre) y <strong>donantes </strong> de sangre. Buscamos con esto crear a una sociedad más solidaría.</p>
  </div>
  <div class="right-content">
    <button class="login-btn">
      <img src="assets/login-circle.svg" alt="" class="login-icon">
        <span>Iniciar Sesión</span>
      </button>
      <div class="text-subtitle">
        <h2>¡Sé parte del movimiento!</h2>
        <div class="buttons-group">
          <button class="first-button">
            Busco donantes
          </button>
          <button class="second-button">
            Quiero donar
          </button>
        </div>
      </div>
  </div>
</div>
