<footer class="footer">
  <div class="footer-content">
    <div class="contact-info">
      <p class="brand">Dev's UPChiapas</p>
      <div class="contact-item">
        <img src="assets/image 29.png" alt="Email Icon" class="icon">
        <a href="mailto:devs@gmail.com">devs&#64;gmail.com</a>
      </div>
      <div class="contact-item">
        <img src="assets/llamada.png" alt="Phone Icon" class="icon">
        <a href="tel:+529672344343">+52 967 234 43 43</a>
      </div>
    </div>
    <div class="social-media">
      <a href="#"><img src="assets/skill-icons_instagram.png" alt="Instagram"></a>
      <a href="#"><img src="assets/devicon_twitter.png" alt="X (Twitter)"></a>
      <a href="#"><img src="assets/logos_facebook.png" alt="Facebook"></a>
    </div>
  </div>
</footer>
